* {
    margin: 0;
    padding: 0;
}

a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}


.logo {
    color: #f1eeee;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-left: 10px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #b51010;
    height: 8vh;
}

main {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('./imgs/pexels-introspectivedsgn-6654177.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
}

.nav-list {
    font-size: 12.5px;
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}


.t1 {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    font-size: 3rem;
    color: #ffffff;
    text-transform: uppercase;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.t2 {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 1.8rem;
    color: #ffffff;
    text-transform: uppercase;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.t2 span {
    color: #b51010;
    margin-top: 2px;
}