* {
    margin: 0;
    padding: 0;
}

a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}


.logo {
    color: #000000;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-left: 10px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #490000;
    height: 8vh;
}

main {
     background-color: #ffffff;
    background-size: cover;
    height: 92vh;
}

.nav-list {
    font-size: 12.5px;
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}


.t1 {
    font-size: 1.5rem;
    color: #1d1d1d;
    text-transform: uppercase;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 80px;
    margin-left: 80px;
    
}

.t1 span {
   color:  #c50000;
}
